.App {
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("https://media.tenor.com/JnE6KRkobgAAAAAC/eating-guinea-pig.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
}