.App {
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("https://www.seguroscatalanaoccidente.com/content/published/api/v1.1/assets/CONTF2E668824C814FEBA2BC2ED1F71C6DB8/Large?cb=_cache_4f&channelToken=219555cd30b54b3bbf0d0d28addf8e10&format=webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}