@font-face {
    font-family: "cookbook";
    src: url('../../resources/fonts/font1.ttf');
}

.container{
    background-color:rgb(19, 133, 91);
    display:flex;
    align-items:left;
    justify-content: left;
    position:relative;
    flex-direction: column;
    height:320px;
    width: 320px;
    min-width: 320px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(2, 255, 2);
    box-shadow: 1rem 1rem 1rem rgb(74, 105, 81);
    transition: .6s;
  
}
.container:hover {
    transform: translateY(-1rem);
}

.container:hover~.container {
    transform: translateX(130px);
}


.container:not(:first-child) {
    margin-left: -130px;
}

.img {
    border-radius: 300px 300px 300px 300px;
    box-shadow: -1rem 0 3rem rgb(13, 116, 119);
    height: 116px;
    width:156px;
    margin: 5px;

}

.title {
border: #000; 
border-width: 2px 1px 3px 1px;
font-size:smaller;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 20px;
margin: 5px;
}
.list {
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size: smaller;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 5px;
   
}
.dietList {
    display: grid;
    justify-items: start; 
    list-style-position: inside;
    padding-left: 0;
    margin-left: 5px;
  }
  