.landing {
    background-color: rgba(13, 116, 119, 0.896);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    color: rgb(211, 117, 107);
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'text1';
  }
  
  .button {
    background-color: rgb(255, 195, 161);
    color: rgb(100, 59, 59);
    padding: .3em .3em .3em .3em;
    
    font-size: 4rem;
    border: none;
    border-radius: 90px 2px 90px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'text1';
  }
  
  .button:hover {
    background-color: rgb(100, 59, 59);
    color: white;
    transform: scale(1.3);
    margin-left: -5px;
  }

  @font-face {
    font-family: 'text1';
    src: url('../../resources/fonts/font1.ttf');
  }
  
  @font-face {
    font-family: 'text2';
    src: url('../../resources/fonts/shoppinglist.TTF');
  }
  